* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 4);
}

.form {
    background-color: black;
    border-radius: 50px;
    padding: 30px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subject,
.email-text{
    width: 100%;
    border: none;


}

.title {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sub-btn{
    padding: 10px 30px;
    border-radius: 15px;
    background-color: chocolate;
    border: none;
    font-size: 16px;
}


.subject {
    border-radius: 10px;
    padding: 7px;
    font-size: 18px;
    margin-bottom: 20px;
}

.email-text {
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.answer-block {
    width: 60%;
    background-color: chocolate;
    padding: 20px;
    margin: 30px auto 30px;
}

.answer-bg {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.category-title{
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: 0.2px;
}